<header class="container mx-auto border-b">
    
    <div class="fixed flex top-0 w-full h-16 items-center flex-col sm:flex-row md:flex-row">
        <div class="flex-1 font-bold p-4">
            {{.Site.Config.Title}}
        </div>

        <nav class="flex-1">
            <ul class="grid grid-rows gap-3 font-bold text-white text-sm">
                <li class="hover:text-black">
                    <a href="#information">정보</a>
                </li>
                <li class="hover:text-black">
                    <a href="#about">소개</a>
                </li>
                <li class="hover:text-black">
                    <a href="#image">사진</a>
                </li>
                <li class="hover:text-black">
                    <a href="#holdem">텍사스홀덤</a>
                </li>
                <li class="hover:text-black">
                    <a href="#address">오시는길</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- <dotlottie-player src="https://lottie.host/a841f152-d086-4433-9157-846c874aa31f/TCPJolzsUQ.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player> -->

    <h1 class="flex flex-col sm:flex-row pt-10 sm:pl-10">
        <div class="flex-1 mx-auto w-full sm:w-[50%]">
            <img src="/static/img/site/author/profile.png">
        </div>
        <div class="flex-1 sm:self-center m-8 space-y-4">
            <p class="text-3xl font-bold">{{.Site.Config.Title}}</p>
            <p class="break-all">{{.Site.Config.Description}}</p>

            <a class="block w-fit rounded border border-white p-4 mx-auto mt-6" href="tel:{{.Site.Config.PhoneNumber}}">
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block icon icon-tabler icon-tabler-crown" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 6l4 6l5 -4l-2 10h-14l-2 -10l5 4z"></path>
                </svg>
                홀덤킹덤 문의
            </a>
        </div>
    </h1>

    
</header>