<header class="mx-auto border-b">
    
    <div class="flex top-0 w-full h-fit items-center flex-col sm:flex-row md:flex-row bg-orange-300 space-y-4 sm:space-y-0 p-4">
        <div class="flex-1 font-bold text-2xl">
            <a href="/">{{.Site.Config.Title}}</a>
        </div>

        <nav class="flex-2 m-0">
            <ul class="grid grid-cols-5 gap-3 font-bold text-white text-sm text-center">
                <li class="hover:text-black">
                    <a href="#information">정보</a>
                </li>
                <li class="hover:text-black">
                    <a href="#about">소개</a>
                </li>
                <li class="hover:text-black">
                    <a href="#image">사진</a>
                </li>
                <li class="hover:text-black">
                    <a href="#holdem">텍사스홀덤</a>
                </li>
                <li class="hover:text-black">
                    <a href="#address">오시는길</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="mx-auto sm:grid md:grid-cols-2 gap-3 self-center">
        <dotlottie-player class="mx-auto p-4" src="https://lottie.host/a841f152-d086-4433-9157-846c874aa31f/TCPJolzsUQ.json" background="transparent" speed="1" style="width: 100%; height: 100%;" loop autoplay></dotlottie-player>

        <div class="self-center text-center p-4 sm:p-8">
            <h2 class="break-keep text-xl text-left mb-8">{{.Site.Config.Description}}</h2>

            <a href="tel:{{.Site.Config.PhoneNumber}}">
                <button class="w-fit rounded-xl border border-red bg-orange-300 p-4"><i class="text-red-500 fa-solid fa-phone-volume"></i> The Login Holdem</button>
            </a>
        </div>
    </div>
    <!-- <h1 class="flex flex-col sm:flex-row pt-10 sm:pl-10">
        <div class="flex-1 mx-auto w-full sm:w-[50%]">
            <img src="/static/img/site/author/profile.png">
        </div>
        <div class="flex-1 sm:self-center m-8 space-y-4">
            <p class="text-3xl font-bold">{{.Site.Config.Title}}</p>
            <p class="break-all">{{.Site.Config.Description}}</p>

            <a class="block w-fit rounded border border-white p-4 mx-auto mt-6" href="tel:{{.Site.Config.PhoneNumber}}">
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block icon icon-tabler icon-tabler-crown" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 6l4 6l5 -4l-2 10h-14l-2 -10l5 4z"></path>
                </svg>
                홀덤킹덤 문의
            </a>
        </div>
    </h1> -->

    
</header>