<header class="mx-auto">
    
    <div class="flex top-0 w-full h-fit items-center flex-col sm:flex-row md:flex-row bg-orange-300 space-y-4 sm:space-y-0 p-4">
        <div class="flex-1 font-bold text-xl lg:text-2xl text-orange-700">
            <a href="/">{{.Site.Config.Title}}</a>
        </div>

        <nav class="flex-2 m-0">
            <ul class="grid grid-cols-5 gap-3 font-bold text-white  text-center">
                <li class="hover:text-orange-700">
                    <a href="#information">정보</a>
                </li>
                <li class="hover:text-orange-700">
                    <a href="#about">소개</a>
                </li>
                <li class="hover:text-orange-700">
                    <a href="#image">사진</a>
                </li>
                <li class="hover:text-orange-700">
                    <a href="#holdem">텍사스홀덤</a>
                </li>
                <li class="hover:text-orange-700">
                    <a href="#address">오시는길</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="mx-auto sm:grid md:grid-cols-2 gap-3 self-center">
        <dotlottie-player class="mx-auto p-4" src="https://lottie.host/a841f152-d086-4433-9157-846c874aa31f/TCPJolzsUQ.json" background="transparent" speed="1" style="width: 100%; height: 100%;" loop autoplay></dotlottie-player>

        <div class="self-center text-center p-4 sm:p-8">
            <h1 class="mb-8 text-2xl md:text-3xl text-left font-bold">{{.Site.Config.Title}}</h1>

            <h2 class="break-keep text-xl text-left mb-8">{{.Site.Config.Description}}</h2>

            <a href="tel:{{.Site.Config.PhoneNumber}}">
                <button class="w-fit rounded-xl border border-red bg-orange-300 p-4 text-orange-700 font-bold"><i class="text-red-500 fa-solid fa-phone-volume"></i> 로그인 홀덤</button>
            </a>
        </div>
    </div> 
</header>