<section id="information" class="mt-8 mb-10 p-4">
    <div>
        <h2 class="text-3xl font-bold m-4 underline decoration-orange-300">The Login Holdem 정보</h2>

        <table class="table-auto border-collapse w-full border border-orange-500/40 mb-8">
            <tbody>
                <tr class="border-b border-orange-500/40 h-16">
                    <td class="bg-orange-300 font-bold">도시</td>
                    <td>서울</td>
                </tr>
                <tr class="border-b border-orange-500/40 h-16">
                    <td class="bg-orange-300 font-bold">지역1</td>
                    <td>강남</td>
                </tr>
                <tr class="border-b border-orange-500/40 h-16">
                    <td class="bg-orange-300 font-bold">지역2</td>
                    <td>압구정</td>
                </tr>
                <tr class="border-b border-orange-500/40 h-16">
                    <td class="bg-orange-300 font-bold">테이블</td>
                    <td>10개미만</td>
                </tr>
                <tr class="border-b border-orange-500/40 h-16">
                    <td class="bg-orange-300 font-bold">블라인드</td>
                    <td>2,000~4,000</td>
                </tr>
                <tr class="border-b border-orange-500/40 h-16">
                    <td class="bg-orange-300 font-bold">바인</td>
                    <td>30-200</td>
                </tr>
                <tr class="border-b border-orange-500/40 h-16">
                    <td class="bg-orange-300 font-bold">매너타임</td>
                    <td>2시간</td>
                </tr>
                <tr class="border-b border-orange-500/40 h-16">
                    <td class="bg-orange-300 font-bold">서비스</td>
                    <td>식사음료 무료</td>
                </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>

    <a href="tel:{{.Site.Config.PhoneNumber}}">
        <button class="w-fit rounded-xl border border-red bg-orange-300 p-4"><i class="text-red-500 fa-solid fa-phone-volume"></i> The Login Holdem</button>
    </a>
</section>

<section id="about" class="mt-8 mb-10 p-4">
    <div class="mt-8 mb-4">
        <h2 class="text-3xl font-bold underline decoration-orange-300">The Login Holdem 소개</h2>

        <div class="mb-10 text-left">
            <h3 class="text-xl font-semibold mb-2">강남 홀덤</h3>
            <article class="border border-orange-300 p-8">                
                <p>강남 홀덤은 서울 강남구에 위치한 포커 게임 전문 장소입니다. 이곳에서는 텍사스 홀덤, 일반적으로 '홀덤'이라 불리는 인기 있는 포커 게임을 즐길 수 있습니다. 강남 홀덤은 친구들과 즐거운 시간을 보내며 포커 게임을 배울 수 있는 공간으로, 초보자부터 경험 많은 선수들까지 모두에게 적합한 장소입니다.</p>
                <br>
                <p>강남 홀덤은 프로페셔널한 딜러와 직원들이 운영하며, 참여자들에게 공정하고 정직한 게임 환경을 제공합니다. 또한, 편안하고 세련된 인테리어는 게임에 몰입할 수 있게 하며, 다양한 서비스와 편의 시설도 제공하여 게스트들이 편안하게 시간을 보낼 수 있도록 합니다.</p>
                <br>
                <p>강남 홀덤에서는 또한 다양한 이벤트와 프로모션도 진행되어, 게임을 더욱 흥미롭고 재미있게 만들어 줍니다. 참여자들은 새로운 사람들과의 네트워킹 뿐만 아니라, 포커 스킬도 향상시킬 수 있는 좋은 기회를 얻을 수 있습니다.</p>
                <br>
                <p>강남 홀덤에서는 게임의 규칙과 전략에 대해 배울 수 있는 교육 프로그램도 제공합니다. 이를 통해, 참여자들은 포커 게임에 대한 더 깊은 이해를 얻고, 실력을 향상시킬 수 있습니다. 강남 홀덤에서 특별한 경험을 즐겨보세요!"</p>
            </article>
        </div>

        <div class="mb-10 text-left">
            <h3 class="text-xl font-semibold mb-2">압구정 홀덤</h3>
            <article class="border border-orange-300 p-8">
                <p>압구정 홀덤은 서울의 강남구에 위치한 고급 포커 클럽 중 하나로, 홀덤 포커 게임을 즐길 수 있는 특별한 장소입니다. 이곳은 포커 애호가들이 모여 경험과 기술을 공유하는 공간으로, 새로운 사람들을 만나고 소통할 기회도 많습니다.</p>
                <br>
                <p>압구정 홀덤에서는 텍사스 홀덤과 같은 다양한 홀덤 게임을 체험할 수 있으며, 전문 딜러와 함께하는 게임을 통해 더욱 진짜 같고 긴장감 넘치는 경험을 할 수 있습니다. 또한, 이곳에서는 포커에 대한 기본 규칙과 전략, 노하우 등을 배울 수 있는 교육 프로그램도 제공하고 있어, 초보자도 쉽게 참여하고 배울 수 있습니다.</p>
                <br>
                <p>압구정 홀덤은 고급스러운 인테리어와 편안한 분위기로 꾸며져 있어, 게임을 즐기는 동안 편안하게 머무를 수 있습니다. 또한, 다양한 음료와 간식 서비스도 함께 제공되어, 방문객들이 더욱 만족스러운 시간을 보낼 수 있도록 배려하고 있습니다.</p>
                <br>
                <p>최상의 서비스와 함께 홀덤 포커를 즐기고 싶다면, 압구정 홀덤을 방문해보세요. 포커를 사랑하는 많은 사람들과 함께 즐거운 시간을 보낼 수 있는 기회를 잡아보세요."</p>
            </article>
        </div>
    </div>
    <a href="tel:{{.Site.Config.PhoneNumber}}">
        <button class="w-fit rounded-xl border border-red bg-orange-300 p-4"><i class="text-red-500 fa-solid fa-phone-volume"></i> The Login Holdem</button>
    </a>
</section>

<section id="image" class="mt-8 mb-10 p-4">
    <div class="mt-8 mb-4">
        <h2 class="text-3xl font-bold underline decoration-orange-300">The Login Holdem 사진</h2>

        <div class="mb-10 text-left">
            <h3 class="text-xl font-semibold">강남 홀덤 사진</h3>
            <div class="sm:flex">
                <div class="flex-1 m-4">
                    <img src="/static/img/index/table/1.png">
                </div>
                <div class="flex-1 m-4">
                    <img src="/static/img/index/table/2.png">
                </div>
            </div>
        </div>

        <div class="mb-10 text-left">
            <h3 class="text-xl font-semibold">압구정 홀덤 사진</h3>

            <div class="sm:flex">
                <div class="flex-1 m-2">
                    <img src="/static/img/index/table/3.png">
                </div>
                <div class="flex-1 m-2">
                    <img src="/static/img/index/table/4.png">
                </div>
            </div>
        </div>
    </div>

    <a href="tel:{{.Site.Config.PhoneNumber}}">
        <button class="w-fit rounded-xl border border-red bg-orange-300 p-4"><i class="text-red-500 fa-solid fa-phone-volume"></i> The Login Holdem</button>
    </a>
</section>

<section id="holdem" class="mt-8 mb-10 p-4">
    <div class="mt-8 mb-4">
        <h2 class="text-3xl font-bold mb-4 underline decoration-orange-300">텍사스홀덤 룰</h2>

        <article class="mb-10 text-left border border-orange-300 p-8">
            <p>텍사스 홀덤(Texas Hold'em)은 포커의 한 가지 변형으로, 전 세계적으로 많이 알려져 있는 게임입니다. 기본적인 룰은 다음과 같습니다:</p>
            <br>
            <p class="font-semibold">1. 홀 카드(Hole Cards):</p>
            <p class="pl-4">각 플레이어에게는 두 장의 숨겨진 카드(홀 카드)가 나눠집니다.</p>
            <br>
            <p class="font-semibold">2. 베팅 라운드(Betting Rounds):</p>
            <p class="pl-4">첫 번째 베팅 라운드가 홀 카드 배분 후 시작됩니다.</p>
            <p class="pl-4">베팅은 시계 방향으로 진행됩니다.</p>
            <br>
            <p class="font-semibold">3. 플롭(Flop):</p>
            <p class="pl-4">공용 카드 세 장이 오픈되고 두 번째 베팅 라운드가 시작됩니다.</p>
            <br>
            <p class="font-semibold">4. 턴(Turn):</p>
            <p class="pl-4">네 번째 공용 카드가 오픈되고 세 번째 베팅 라운드가 시작됩니다.</p>
            <br>
            <p class="font-semibold">5. 리버(River):</p>
            <p class="pl-4">다섯 번째 공용 카드가 오픈되고 마지막 베팅 라운드가 시작됩니다.</p>
            <br>
            <p class="font-semibold">6. 쇼다운(Showdown):</p>
            <p class="pl-4">베팅 라운드가 끝나면 쇼다운이 시작됩니다.</p>
            <p class="pl-4">남아 있는 플레이어들이 카드를 공개하고, 최고의 다섯 장의 카드 조합을 만든 플레이어가 팟을 획득합니다.</p>
            <br>
            <p class="font-semibold">7. 핸드 랭킹(Hand Rankings):</p>
            <p class="pl-4">로열 플러쉬: 같은 무늬의 10, J, Q, K, A</p>
            <p class="pl-4">스트레이트 플러쉬: 같은 무늬의 연속된 숫자</p>
            <p class="pl-4">포 오브 어 카인드: 같은 숫자 네 장</p>
            <p class="pl-4">풀 하우스: 같은 숫자 세 장 + 같은 숫자 두 장</p>
            <p class="pl-4">플러쉬: 같은 무늬의 다섯 장의 카드</p>
            <p class="pl-4">스트레이트: 다른 무늬의 연속된 숫자 다섯 장</p>
            <p class="pl-4">쓰리 오브 어 카인드: 같은 숫자 세 장</p>
            <p class="pl-4">투 페어: 같은 숫자 두 장의 쌍 두 개</p>
            <p class="pl-4">원 페어: 같은 숫자 두 장</p>
            <p class="pl-4">하이 카드: 위의 어떤 조합도 만들지 못할 경우 가장 높은 카드</p>
            <br>
            <p class="font-semibold">8. 팟 분배(Pot Distribution):</p>
            <p class="pl-4">쇼다운에서 승리한 플레이어에게 팟이 분배됩니다.</p>
            <p class="pl-4">승리한 플레이어가 둘 이상일 경우, 팟은 승리한 플레이어들 사이에 고르게 분배됩니다.</p>
            <p class="pl-4">게임은 이러한 기본 규칙을 바탕으로 진행되며, 전략과 심리적 요소가 크게 작용하는 게임입니다.</p>
        </article>
    </div>

    <a href="tel:{{.Site.Config.PhoneNumber}}">
        <button class="w-fit rounded-xl border border-red bg-orange-300 p-4"><i class="text-red-500 fa-solid fa-phone-volume"></i> The Login Holdem</button>
    </a>
</section>

<section id="address" class="mt-8 mb-10 p-4">
    <div class="mt-4 mb-4">
        <h2 class="text-3xl font-bold underline decoration-orange-300">The Login Holdem 오시는 길</h2>
    </div>
    <div class="mt-4 mb-4 border border-orange-300">
        <iframe class="w-full h-[300px] mx-auto" title="map" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50648.09314657367!2d127.06639825!3d37.495986499999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca4235fb589fb%3A0xb331971bc570bb6a!2z7ISc7Jq47Yq567OE7IucIOqwleuCqOq1rA!5e0!3m2!1sko!2skr!4v1692507824227!5m2!1sko!2skr"></iframe>
    </div>
</section>