<section class="container mx-auto">
	<div class="px-6">
		<h2 id="information" class="text-2xl font-extrabold text-center">강남홀덤 압구정홀덤 정보</h2>
		<ul class="grid grid-cols-2 sm:grid-cols-4 gap-3 sm:gap-6 mt-10 text-center">
			<li class="shadow shadow-black/30 rounded-md px-1 py-4">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-sky-500 w-10 inline-block">
						  <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
						  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"></path>
					</svg>
				</div>
				<div class="text-sm text-sky-500">도시</div>
				<div class="text-sm sm:text-base">서울</div>
			</li>
			<li class="shadow shadow-black/30 rounded-md px-1 py-4">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-sky-500 w-10 inline-block">
						  <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
						  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"></path>
					</svg>
				</div>
				<div class="text-sm text-sky-500">지역1</div>
				<div class="text-sm sm:text-base">강남</div>
			</li>
			<li class="shadow shadow-black/30 rounded-md px-1 py-4">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-sky-500 w-10 inline-block">
						<path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
						<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"></path>
					</svg>
				</div>
				<div class="text-sm text-sky-500">지역2</div>
				<div class="text-sm sm:text-base">압구정</div>
			</li>
			<li class="shadow shadow-black/30 rounded-md px-1 py-4">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-sky-500 w-10 inline-block">
						<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z"></path>
					</svg>
				</div>
				<div class="text-sm text-sky-500">테이블</div>
				<div class="text-sm sm:text-base">10개 미만</div>
			</li>
			<li class="shadow shadow-black/30 rounded-md px-1 py-4">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-sky-500 w-10 inline-block">
						<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z"></path>
					</svg>
				</div>
				<div class="text-sm text-sky-500">블라인드</div>
				<div class="text-sm sm:text-base">2,000~4,000</div>
			</li>
			<li class="shadow shadow-black/30 rounded-md px-1 py-4">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-sky-500 w-10 inline-block">
						<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z"></path>
					</svg>
				</div>
				<div class="text-sm text-sky-500">바인</div>
				<div class="text-sm sm:text-base">30-200</div>
			</li>
			<li class="shadow shadow-black/30 rounded-md px-1 py-4">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-sky-500 w-10 inline-block">
						<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"></path>
					</svg>
				</div>
				<div class="text-sm text-sky-500">매너타임</div>
				<div class="text-sm sm:text-base">2시간</div>
			</li>
			<li class="shadow shadow-black/30 rounded-md px-1 py-4">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-sky-500 w-10 inline-block">
						<path stroke-linecap="round" stroke-linejoin="round" d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z"></path>
					</svg>
				</div>
				<div class="text-sm text-sky-500">서비스</div>
				<div class="text-sm sm:text-base">식사음료 무료</div>
			</li>
		</ul>
	</div>
</section>
<section class="container mx-auto">
	<div class="px-6">
		<h2 id="about" class="text-2xl font-extrabold text-center">강남홀덤 압구정홀덤 소개</h2>
		<div class="sm:flex mt-6 space-y-6 sm:space-y-0 sm:space-x-6">
			<div>
				<h3 class="text-center font-semibold">강남홀덤</h3>
				<div class="text-sm mt-3 space-y-3">
					<p>강남홀덤은 서울 경기권에서 돋보이는 카드 게임 공간으로, 그 주요 특징 중 하나는 두드러지는 쾌적함과 럭셔리한 인테리어입니다. 이 곳은 플레이어들이 카드 게임에 완전히 몰두할 수 있는 최상의 환경을 제공하며, 플레이 경험을 향상시키는 데 크게 기여하고 있습니다.</p>
					<p>쾌적한 분위기와 편안한 인테리어는 플레이어들이 스트레스 없이 게임에 집중하고 즐길 수 있는 환경을 조성합니다. 럭셔리한 장식과 현대적인 디자인은 이 곳을 단순히 게임 공간을 넘어서 고급스러운 휴식 공간으로 변신시키고 있습니다. 이는 플레이어들에게 게임 이외에도 즐거운 시간을 제공하는 데 기여하며, 강남홀덤을 독특하고 매력적인 장소로 만들어주는 요소 중 하나입니다.</p>
					<p>또한, 이러한 쾌적한 환경과 럭셔리한 인테리어는 카드 게임 커뮤니티에게 편안한 만남 장소를 제공합니다. 플레이어들은 이곳에서 함께 게임을 즐기며 사회적인 교류를 할 수 있으며, 이를 통해 새로운 친구나 동료를 만나는 기회를 갖게 됩니다.</p>
					<p>요약하자면, 강남홀덤은 서울 경기권에서 쾌적하고 럭셔리한 인테리어로 플레이어들에게 최상의 게임 환경을 제공하며, 이를 통해 게임 이외의 다양한 경험과 사회적 교류의 기회를 제공하는 독특하고 매력적인 장소로 자리 잡고 있습니다.</p>
				</div>
			</div>
			<div>
				<h3 class="text-center font-semibold">압구정홀덤</h3>
				<div class="text-sm mt-3 space-y-3">
					<p>압구정 홀덤은 서울 경기권의 중심에 위치한 독특하고 매력적인 카드 게임 장소로, 그 독보적인 특징들이 주목받고 있는 곳입니다. 이 장소는 플레이어들에게 즐거운 게임 경험과 함께 다양한 장점을 제공하여 카드 게임 커뮤니티 내에서 높은 평가를 받고 있습니다.</p>
					<p>압구정 홀덤은 먼저 우수한 인테리어로 눈에 띄며, 이를 통해 플레이어들에게 편안하고 품격 있는 분위기를 제공합니다. 고급스러운 디자인과 세련된 장식은 이곳을 단순한 게임 장소를 넘어서 특별한 공간으로 만들어냅니다. 이러한 분위기는 게임에 몰입하며 높은 집중도를 유지하는 데 큰 도움을 줄 뿐만 아니라, 플레이어들에게 휴식과 엔터테인먼트의 조화로운 결합을 제공합니다.</p>
					<p>뿐만 아니라, 압구정 홀덤은 카드 게임의 다양한 형태와 베팅 옵션을 제공하며 플레이어들에게 다양한 선택의 기회를 줍니다. 이는 각기 다른 스타일과 전략을 가진 플레이어들에게 적합한 플레이 환경을 조성하는 데 도움이 됩니다.</p>
					<p>이 장소는 또한 게임 토너먼트와 이벤트를 개최하여 플레이어들에게 다양한 경쟁과 상금의 기회를 제공합니다. 이를 통해 플레이어들은 게임 스킬을 향상시키고 더욱 즐겁고 흥미로운 경험을 쌓을 수 있습니다.</p>
					<p>압구정 홀덤은 자체적인 역사와 매력으로 가득한 곳으로서, 서울 경기권의 카드 게임 열풍을 주도하는 중요한 장소 중 하나입니다. 이곳은 플레이어들에게 탁월한 게임 환경과 다양한 경험을 제공하며, 카드 게임 애호가들에게 꼭 한 번 방문해보길 권해보고 싶은 특별한 장소입니다.</p>
				</div>
			</div>
		</div>
	</div>
</section>
