<section id="information" class="mt-8 mb-10 p-4">
    <div>
        <h2 class="text-3xl font-semibold">홀덤 킹덤 정보</h2>

        <ul class="grid grid-cols-2 sm:grid-cols-4 gap-3 sm:gap-6 mt-6 text-center">
			<li class="shadow shadow-black/30 rounded-md px-1 py-4 border">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-yellow-500 w-10 inline-block">
						  <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
						  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"></path>
					</svg>
				</div>
				<div class="text-sm text-yellow-500">도시</div>
				<div class="text-sm sm:text-base">서울</div>
			</li>
			<li class="shadow shadow-black/30 rounded-md px-1 py-4 border">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-yellow-500 w-10 inline-block">
						  <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
						  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"></path>
					</svg>
				</div>
				<div class="text-sm text-yellow-500">지역1</div>
				<div class="text-sm sm:text-base">강남</div>
			</li>
			<li class="shadow shadow-black/30 rounded-md px-1 py-4 border">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-yellow-500 w-10 inline-block">
						<path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
						<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"></path>
					</svg>
				</div>
				<div class="text-sm text-yellow-500">지역2</div>
				<div class="text-sm sm:text-base">압구정</div>
			</li>
			<li class="shadow shadow-black/30 rounded-md px-1 py-4 border">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-yellow-500 w-10 inline-block">
						<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z"></path>
					</svg>
				</div>
				<div class="text-sm text-yellow-500">테이블</div>
				<div class="text-sm sm:text-base">10개 미만</div>
			</li>
			<li class="shadow shadow-black/30 rounded-md px-1 py-4 border">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-yellow-500 w-10 inline-block">
						<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z"></path>
					</svg>
				</div>
				<div class="text-sm text-yellow-500">블라인드</div>
				<div class="text-sm sm:text-base">2,000~4,000</div>
			</li>
			<li class="shadow shadow-black/30 rounded-md px-1 py-4 border">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-yellow-500 w-10 inline-block">
						<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z"></path>
					</svg>
				</div>
				<div class="text-sm text-yellow-500">바인</div>
				<div class="text-sm sm:text-base">30-200</div>
			</li>
			<li class="shadow shadow-black/30 rounded-md px-1 py-4 border">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-yellow-500 w-10 inline-block">
						<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"></path>
					</svg>
				</div>
				<div class="text-sm text-yellow-500">매너타임</div>
				<div class="text-sm sm:text-base">2시간</div>
			</li>
			<li class="shadow shadow-black/30 rounded-md px-1 py-4 border">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-yellow-500 w-10 inline-block">
						<path stroke-linecap="round" stroke-linejoin="round" d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z"></path>
					</svg>
				</div>
				<div class="text-sm text-yellow-500">서비스</div>
				<div class="text-sm sm:text-base">식사음료 무료</div>
			</li>
		</ul>
    </div>

    <a class="block w-fit rounded border border-white p-4 mx-auto mt-6" href="tel:{{.Site.Config.PhoneNumber}}">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block icon icon-tabler icon-tabler-crown" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 6l4 6l5 -4l-2 10h-14l-2 -10l5 4z"></path>
        </svg>
        홀덤킹덤 문의
    </a>
</section>

<section id="about" class="mt-8 mb-10 p-4">
    <div class="mt-8 mb-4">
        <h2 class="text-3xl font-semibold mb-10">홀덤 킹덤 소개</h2>

        <div class="mb-10">
            <h3 class="text-2xl font-semibold mb-4">♣강남 홀덤</h3>
            <article>
                <p>환영합니다! 서울의 중심, 강남에서 짜릿한 포커 게임을 경험하실 수 있는 강남 홀덤펍에 오신 것을 환영합니다. 우리 펍은 홀덤 포커의 진정한 매력을 제대로 즐길 수 있는 곳으로, 초보자부터 베테랑까지 모든 게임러들에게 완벽한 장소를 제공합니다.</p>
                <br>
                <p>전문 딜러와 함께하는 게임: 저희 홀덤펍에서는 전문 딜러가 게임을 진행해, 정통 카지노의 분위기와 기술을 체험하실 수 있습니다.</p>
                <br>
                <p><span class="text-yellow-500 font-semibold">최고의 시설: </span>고급스러운 인테리어와 편안한 좌석, 최신 기술의 포커 테이블로 여러분의 게임을 보다 편리하게 지원합니다.</p>
                <p><span class="text-yellow-500 font-semibold">다양한 이벤트: </span>시즌별 이벤트와 토너먼트가 주기적으로 개최되어, 새로운 도전과 흥미진진한 경험을 선사합니다.</p>
                <p><span class="text-yellow-500 font-semibold">안전한 게임 환경: </span>강남 홀덤펍은 투명하고 정직한 게임 운영을 위해 최선을 다하고 있습니다. 모든 게임은 공정하게 진행되며, 게임에 관한 궁금증이나 문제가 발생할 경우 언제든지 스태프에게 문의하실 수 있습니다.</p>
                <br>
                <p>강남 홀덤펍에서는 친구들과의 즐거운 시간을 보내시거나, 스트레스를 해소하며 포커의 진정한 재미를 느끼실 수 있습니다. 포커에 대한 열정을 함께 나누고 싶으신 분, 강남 홀덤펍에서 기다리고 있습니다. 함께 흥미진진한 홀덤 게임의 세계로 뛰어들어 보세요!</p>
            </article>
        </div>

        <div class="mb-10">
            <h3 class="text-2xl font-semibold mb-4">♧압구정 홀덤</h3>
            <article>
                <p>압구정 홀덤은 서울의 가장 패셔너블한 지역 중 하나인 압구정에 위치한 홀덤펍입니다. 이곳은 카드 게임 애호가들과 함께 즐기는 홀덤을 사랑하는 사람들에게 완벽한 모임의 장소를 제공합니다.</p>
                <br>
                <p>고급스러운 인테리어와 프로페셔널한 직원들이 준비된 압구정 홀덤에서는 친구들과의 즐거운 시간을 보낼 수 있으며, 홀덤 게임의 기술을 연마할 수 있습니다. 초보자부터 숙련된 플레이어까지 모두에게 적합한 환경을 제공하기 위해 다양한 레벨의 테이블을 준비하고 있습니다.</p>
                <br>
                <p>압구정 홀덤에서는 음료와 간단한 스낵을 즐기면서 게임을 할 수 있으며, 주말이나 특별한 날에는 다양한 이벤트와 프로모션도 진행됩니다. 방문객들은 카드 게임뿐만 아니라, 음악, 음료, 그리고 편안한 분위기를 함께 즐길 수 있습니다.</p>
                <br>
                <p>압구정 홀덤펍은 전통적인 카지노의 분위기를 그대로 가져와서 도심 속에서도 홀덤 게임의 재미와 긴장감을 느낄 수 있도록 설계되었습니다. 서울 중심지에서 친구들과의 즐거운 시간을 보내고 싶다면, 압구정 홀덤을 방문해 보세요!</p>
            </article>
        </div>
    </div>
    <a class="block w-fit rounded border border-white p-4 mx-auto mt-6" href="tel:{{.Site.Config.PhoneNumber}}">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block icon icon-tabler icon-tabler-crown" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 6l4 6l5 -4l-2 10h-14l-2 -10l5 4z"></path>
        </svg>
        홀덤킹덤 문의
    </a>
</section>

<section id="image" class="mt-8 mb-10 p-4">
    <div class="mt-8 mb-4">
        <h2 class="text-3xl font-semibold mb-10">홀덤 킹덤 내부 사진</h2>

        <div class="mb-10">
            <h3 class="text-2xl font-semibold mb-4">♣강남 홀덤 사진</h3>
            <div class="sm:flex">
                <div class="flex-1 m-4">
                    <img src="/static/img/index/table/1.png">
                </div>
                <div class="flex-1 m-4">
                    <img src="/static/img/index/table/2.png">
                </div>
            </div>
        </div>

        <div class="mb-10">
            <h3 class="text-2xl font-semibold mb-4">♧압구정 홀덤 사진</h3>

            <div class="sm:flex">
                <div class="flex-1 m-4">
                    <img src="/static/img/index/table/3.png">
                </div>
                <div class="flex-1 m-4">
                    <img src="/static/img/index/table/4.png">
                </div>
            </div>
        </div>
    </div>

    <a class="block w-fit rounded border border-white p-4 mx-auto mt-6" href="tel:{{.Site.Config.PhoneNumber}}">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block icon icon-tabler icon-tabler-crown" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 6l4 6l5 -4l-2 10h-14l-2 -10l5 4z"></path>
        </svg>
        홀덤킹덤 문의
    </a>
</section>

<section id="holdem" class="mt-8 mb-10 p-4">
    <div class="mt-8 mb-4">
        <h2 class="text-3xl font-semibold mb-10">텍사스홀덤 룰</h2>

        <article class="mb-10">
            
            <div>
                <p>텍사스 홀덤은 포커의 한 가지 변형인데, 전 세계에서 가장 널리 알려진 및 플레이되는 포커 게임입니다. 텍사스 홀덤의 기본적인 룰입니다.</p>
                <br>
                <p><span class="text-yellow-500 font-semibold">칩과 블라인드: </span>게임이 시작되면, 시계 방향으로 플레이어들에게 칩이 배분됩니다. 플레이어들 중에서 소규모 블라인드(small blind)와 대규모 블라인드(big blind)를 낼 사람이 정해지며, 이 두 명의 플레이어는 각각 필요한 칩을 테이블 중앙에 둡니다.</p>
                <p><span class="text-yellow-500 font-semibold">홀 카드: </span>각 플레이어에게는 2장의 카드(홀 카드)가 비밀리에 나누어집니다.</p>
                <p><span class="text-yellow-500 font-semibold">베팅: </span>홀 카드를 받은 후 첫 번째 베팅 라운드가 시작됩니다. 플레이어는 차례대로 베팅할 수 있습니다.</p>
                <p><span class="text-yellow-500 font-semibold">플롭: </span>베팅 라운드가 끝나면, 딜러는 테이블 중앙에 3장의 공개 카드를 놓습니다. 이를 '플롭'이라고 합니다.</p>
                <p><span class="text-yellow-500 font-semibold">베팅: </span>플롭 후 두 번째 베팅 라운드가 시작됩니다.</p>
                <p><span class="text-yellow-500 font-semibold">턴: </span>두 번째 베팅 라운드가 끝나면, 딜러는 테이블 중앙에 네 번째 카드를 추가로 놓습니다. 이 카드를 '턴'이라고 합니다.</p>
                <p><span class="text-yellow-500 font-semibold">베팅: </span>턴 후 세 번째 베팅 라운드가 시작됩니다.</p>
                <p><span class="text-yellow-500 font-semibold">리버: </span>세 번째 베팅 라운드가 끝나면, 딜러는 테이블 중앙에 다섯 번째 및 마지막 카드를 놓습니다. 이 카드를 '리버'라고 합니다.</p>
                <p><span class="text-yellow-500 font-semibold">베팅: </span>리버 후 마지막 베팅 라운드가 시작됩니다.</p>
                <p><span class="text-yellow-500 font-semibold">쇼다운: </span>마지막 베팅 라운드가 끝나면, 남아있는 플레이어들은 자신의 홀 카드를 공개합니다. 가장 좋은 5장의 포커 핸드를 만들 수 있는 플레이어가 승리합니다.</p>
                <br>
                <p>텍사스 홀덤에서 승리하기 위한 카드 조합은 다음과 같습니다: 로얄 플러시, 스트레이트 플러시, 포카드, 풀하우스, 플러시, 스트레이트, 쓰리 오브 어 카인드, 투 페어, 원 페어, 높은 카드 순서입니다.</p>
                <p>게임의 전략과 뉘앙스는 상당히 깊고 복잡하지만, 이것은 텍사스 홀덤의 기본적인 룰에 대한 간략한 설명입니다!</p>
            </div>
        </article>
    </div>

    <a class="block w-fit rounded border border-white p-4 mx-auto mt-6" href="tel:{{.Site.Config.PhoneNumber}}">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block icon icon-tabler icon-tabler-crown" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 6l4 6l5 -4l-2 10h-14l-2 -10l5 4z"></path>
        </svg>
        홀덤킹덤 문의
    </a>
</section>

<section id="address" class="mt-8 mb-10 p-4">
    <div class="mt-4 mb-4">
        <h2 class="text-3xl font-semibold">홀덤 킹덤 오시는 길</h2>
    </div>
    <div class="mt-4 mb-4">
        <iframe class="w-full h-[300px] mx-auto" title="map" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50648.09314657367!2d127.06639825!3d37.495986499999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca4235fb589fb%3A0xb331971bc570bb6a!2z7ISc7Jq47Yq567OE7IucIOqwleuCqOq1rA!5e0!3m2!1sko!2skr!4v1692507824227!5m2!1sko!2skr"></iframe>
    </div>
</section>