<footer class="bg-[#020230] text-slate-300">
	<div class="px-6">
		<div class="container mx-auto mt-20 mb-10">
			<div class="space-y-3">
				<div class="text-lg font-semibold text-slate-100">{{.Site.Config.Title}}</div>
				<div class="text-sm">
					<span class="inline-block w-[54px] font-semibold">Author</span>
					<span class="ml-2">{{.Site.Config.Author}}</span>
				</div>
				<div class="text-sm">
					<span class="inline-block w-[54px] font-semibold">Contact</span>
					<span class="ml-2">
						<a class="hover:text-slate-200" href="tel:{{.Site.Config.PhoneNumber}}">{{.Site.Config.PhoneNumber}}</a>
					</span>
				</div>
				<div class="text-sm">
					<span class="inline-block w-[54px] font-semibold">Hosting</span>
					<span class="ml-2">Asia/Seoul EC2 AWS(Amazon Web Service)</span>
				</div>
			</div>
			<div class="text-slate-100 font-semibold text-center mt-6">Copyright © {{Time.Format "2006"}} {{.Site.Config.Title}}. All rights reserved.</div>
		</div>
	</div>
</footer>
