<footer class="mx-auto w-fit p-4 border-t border-white text-center border border-orange-300">

	<div>
		<a href="/" class="font-semibold text-2xl underline decoration-orange-300">{{.Site.Config.Title}}</a>
	</div>
	<div class="grid grid-cols-2 gap-3">
		<div class="text-right mr-8">
			<p class="font-semibold">Author: </p>
			<p class="font-semibold">Phone: </p>
		</div>
		<div class="text-left">
			<p>{{.Site.Config.Author}}</p>
			<a href="tel:{{.Site.Config.PhoneNumber}}">{{.Site.Config.PhoneNumber}}</a>
		</div>
	</div>
	<div class="font-semibold mt-6 border-t border-orange-300">Copyright © {{Time.Format "2006"}} {{.Site.Config.Title}}. All rights reserved.</div>
</footer>
